<%- include('../../layout/header') %>

<div class="main-dashboard">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Students</h5>
                <span class="count" id="students_count">0</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Teachers</h5>
                <span class="count" id="teachers_count">0</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Notices</h5>
                <span class="count" id="notices_count">0</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Duties</h5>
                <span class="count" id="duties_count">0</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Users</h5>
                <span class="count" id="users_count">0</span>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="count-card">
                <h5>Total Timetables</h5>
                <span class="count" id="timetables_count">0</span>
            </div>
        </div>
    </div>
</div>

<%- include('../../layout/footer') %>
<script src="/admin/pages/dashboard/dashboard.js"></script>