</section>
</div>
</div>
</div>
</main>

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.bundle.min.js"></script>
<script src="/assets/js/quill.min.js"></script>
<script src="/assets/js/socket.io.min.js"></script>
<script src="/assets/js/script.js"></script>
<script src="/teacher/js/script.js"></script>

</body>
</html>