<%- include('../../layout/header') %>


<div class="card shadow-sm">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <h5 class="card-title">Show Notices</h5>
            <input type="text" id="search_notices" class="form-control" style="width: 300px;" placeholder="Search..." />
        </div>
        <div id="display_notices" class="row py-4"></div>
    </div>
</div>


<%- include('../../layout/footer') %>
<script src="/student/pages/notice-board/notice-board.js"></script>