<%- include('../../layout/header') %>


<div class="card bg-light mb-5 shadow-sm">
    <div class="card-body">
        <form id="student_form">
            <h5 class="mb-4">Add Student</h5>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="hidden" name="student_id" />
                    <input type="text" name="student_roll_number" class="form-control" placeholder="Student Roll Number" />
                    <div class="text-danger" id="student_roll_number_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="student_name" class="form-control" placeholder="Student Name" />
                    <div class="text-danger" id="student_name_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="student_email" class="form-control" placeholder="Student Email" />
                    <div class="text-danger" id="student_email_error"></div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="text" name="student_phone" class="form-control" placeholder="Student Phone" />
                    <div class="text-danger" id="student_phone_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="student_cnic" class="form-control" placeholder="Student CNIC#" />
                    <div class="text-danger" id="student_cnic_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="student_year" class="form-control" placeholder="Student Year" />
                    <div class="text-danger" id="student_year_error"></div>
                </div>
            </div>
            <div class="mb-4">
                <textarea rows="4" name="student_address" class="form-control" placeholder="Student Address"></textarea>
                <div class="text-danger" id="student_address_error"></div>
            </div>
            <button type="submit" class="btn btn-primary">Add Student</button>
        </form>
    </div>
</div>


<div class="card bg-light shadow-sm">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <h5 class="card-title">Show Students</h5>
            <div class="row" style="width: 390px;">
                <div class="col-8 ps-0">
                    <input type="text" id="search_student" class="form-control" placeholder="Search student via name..." style="width: 250px;" />
                </div>
                <div class="col-4 ps-0">
                    <select id="reorder_student" class="form-select">
                        <option selected disabled>Order By</option>
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Student Name</th>
                        <th>Student Email</th>
                        <th>Student Phone</th>
                        <th>Student CNIC</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="display_students"></tbody>
            </table>
        </div>
    </div>
</div>


<%- include('../../../layout/footer') %>
<script src="/admin/pages/manage-student/manage-student.js"></script>