<%- include('../../layout/header') %>


<div class="card bg-light mb-5 shadow-sm">
    <div class="card-body">
        <form id="teacher_form">
            <h5 class="mb-4">Add Teacher</h5>
            <div class="row mb-3">
                <div class="col-4">
                    <input type="hidden" name="teacher_id" />
                    <input type="text" name="teacher_name" class="form-control" placeholder="Teacher Name" />
                    <div class="text-danger" id="teacher_name_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="teacher_email" class="form-control" placeholder="Teacher Email" />
                    <div class="text-danger" id="teacher_email_error"></div>
                </div>
                <div class="col-4">
                    <input type="text" name="teacher_phone" class="form-control" placeholder="Teacher Phone" />
                    <div class="text-danger" id="teacher_phone_error"></div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col-4">
                    <input type="text" name="teacher_cnic" class="form-control" placeholder="Teacher CNIC#" />
                    <div class="text-danger" id="teacher_cnic_error"></div>
                </div>
                <div class="col-4">
                    <select name="teacher_scale" class="form-select">
                        <option value="Assosiate Professor">Assosiate Professor</option>
                        <option value="Professor">Professor</option>
                        <option value="Engineer">Engineer</option>
                    </select>
                    <div class="text-danger" id="teacher_scale_error"></div>
                </div>
                <div class="col-4">
                    <select name="teacher_qualification" class="form-select">
                        <option value="Masters">Masters</option>
                        <option value="PhD">PhD</option>
                    </select>
                    <div class="text-danger" id="teacher_qualification_error"></div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Add Teacher</button>
        </form>
    </div>
</div>


<div class="card bg-light shadow-sm">
    <div class="card-body">
        <div class="d-flex align-items-center justify-content-between mb-5">
            <h5 class="card-title">Show Teachers</h5>
            <div class="row" style="width: 390px;">
                <div class="col-8 ps-0">
                    <input type="text" id="search_teacher" class="form-control" placeholder="Search teacher via name..." style="width: 250px;" />
                </div>
                <div class="col-4 ps-0">
                    <select id="reorder_teacher" class="form-select">
                        <option selected disabled>Order By</option>
                        <option value="asc">A-Z</option>
                        <option value="desc">Z-A</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th>#</th>
                        <th>Teacher Name</th>
                        <th>Teacher Email</th>
                        <th>Teacher Phone</th>
                        <th>Teacher CNIC</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="display_teachers"></tbody>
            </table>
        </div>
    </div>
</div>


<%- include('../../layout/footer') %>
<script src="/admin/pages/manage-teacher/manage-teacher.js"></script>